/*-------------------------------- 
    GLOBAL RESETS
---------------------------------*/
html {
  font-size: 62.5%;
}

body {
  min-width: 150rem;
  color: rgb(37, 37, 73);
  background-color: rgb(238, 238, 238);
  color: #000;
  box-sizing: border-box;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
