/*-------------------------------- 
    GLOBAL RESETS
---------------------------------*/
html {
  font-size: 62.5%;
}

body {
  min-width: 150rem;
  color: rgb(37, 37, 73);
  background-color: rgb(238, 238, 238);
  color: #000;
  box-sizing: border-box;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*-------------------------------
    Dashboard.PUG
-------------------------------*/

.dashboard-container {
  height: auto;
  display: flex;
}

.dashboard-sidebar {
  height: 700px;
  width: 20%;
  background-color: rgb(75, 75, 75);
}

.dashboard-content {
  height: 700px;
  width: 80%;
  background-color: rgb(238, 200, 200);
}

.dashboard-nav {
  color: #fff;
}

.dashboard-nav-item a{
  color: #fff;
  text-decoration: none;
}


/*-------------------------------
    Product.PUG
-------------------------------*/
.product__row--1 {
  width: 120rem;
  height: auto;
  margin: 0 auto;
  padding: 1.6rem 0;
}

.product__bcbs {
  margin-bottom: 1.5rem;
}

.product__cbs{
  text-decoration: none;
  color: rgb(75, 74, 74);
  font-weight: lighter;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.product__cbs::after {
  content: '> ';
}

.product__bcbs_title {
  font-size: 1.5rem;
}

.product__content__row--sub1 {
  height: 500px;
  display: flex;
}

.product__content__row--sub1 .product__content__column--1 {
  width: 77%;
  height: 100%;
  box-shadow: 1px 0 2px 0 rgba(190, 190, 190, 0.2);
  background-color: #fff;
  margin-right: 20px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
}

.product__content__column--1 .imgshr {
  width: 40%;
  height: 100%;
}

.product__content__column--1 .imgshr .img{
  height: 70%;
  padding: 30px;
}

.product__content__column--1 .imgshr .img > img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.product__content__column--1 .imgshr .shr{
  height: 30%;
  padding-top: 10px;
  border-top: 1px solid rgb(240, 238, 238);
}

.shr h3 {
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}

.shr button {
  padding: 15px;
  margin-right: 5px;
  border-radius: 25px;
  border: none;
}

.product__content__column--1 .proinfo {
  width: 60%;
  height: 100%;
}

.proinfo .proinfo-header{
  margin-bottom: 10px;
}

.proinfo-header > h3{
  margin-bottom: 0;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 17px;
}

.proinfo .rtn {
  padding-bottom: 7px;
  border-bottom: 1px solid rgb(240, 238, 238);
  margin-bottom: 10px;
}

.proinfo > .rtn-prc a{
  text-decoration: none;
  color: rgb(65, 65, 182);
  font-size: 14px;
}

.rtn-prc .prc > .new-prc {
  font-size: 23px;
  font-weight: 700;
  color: #000;
}

.rtn-prc .prc > .old-prc-pct {
  margin-top: 5px;
  position: relative;
  top: -3px;
  border-bottom: 1px solid rgb(240, 238, 238);
  padding-bottom: 7px;
}

.rtn-prc .prc > .old-prc-pct > .old-prc {
  text-decoration: line-through;
  margin-right: 10px;
  color: rgb(161, 161, 161);
}

.old-prc-pct .pct {
 color: rgb(235, 170, 29);
 font-weight: 500;
 background-color: rgb(245, 235, 231);
 padding: 2px;
}

.add2cart {
  padding: 5px 0 10px;
  height: 170px;
  border: 1px dotted red;
  border-radius: 5px;
  margin-bottom: 20px;
}

.add2cart-header,
.promo h3 {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

.product__content__row--sub1 .product__content__column--2 {
  height: 100%;
  width: 23%;
}

.product__content__column--2 .drs,
.product__content__column--2 .sif,
.product__content__column--2 .hots,
.product__content__column--2 .prds{
  width: 100%;
  box-shadow: 1px 0 2px 0 rgba(190, 190, 190, 0.2);
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}

.product__content__column--2 .drs {
  height: 300px;
}

.product__content__column--2 .drs-header,
.product__content__column--2 .sif-header,
.pds .header,
.spec .header,
.mpl .header,
.cfb .header,
.prds-header {
  border-bottom: 1px solid rgb(236, 233, 233);
  display: flex;
  align-items: center;
  padding:10px;
  height: 45px;
}

.drs-header h3,
.sif-header h3 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
}

.product__content__column--2 .sif {
  height: 100px;
}

.product__content__column--2 .hots {
  padding: 10px;
  height: 60px;
}

.hots > h4 {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 13px;
  margin: 0;
}

.hots > p {
  font-weight: 400;
  font-size: 12px;
  margin-top: 7px;
}

.product__content__row--sub2 {
  height: auto;
  display: flex;
  margin-top: 20px;
}

.product__content__row--sub2 .product__content__column--1 {
  width: 77%;
  height: auto;
  margin-right: 20px;
  
}

.product__content__column--1 .pds,
.product__content__column--1 .mpl,
.product__content__column--1 .cfb{
  background: #fff;
  border-radius: 5px;
  height: 300px;
}

.pds h3,
.spec h3,
.mpl h3,
.cfb h3,
.prds-header h3  {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 17px;
  margin: 0;
}

.product__content__column--1 .pds .body {
  padding: 10px;
  height: 85%;
}

.product__content__column--1 .spec {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 5px;
  height: auto;
}

.spec .kfwb {
  height: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.kfwb .kf, .kfwb .wb, .kfwb .spec-child {
  width: 48.8%;
  border-radius: 5px;
  border: 1px solid rgb(236, 233, 233);
  height: 500px;
}

.kfwb .kf {
  margin-right: 10px;
}

.kfwb .wb {
  border-radius: 5px;
  margin-left: 10px;
}

.kfwb .spec-child {
  margin-top: 20px;
}

.product__content__column--1 .cfb {
  margin-top: 20px;
}

.product__content__row--sub2 .product__content__column--2 {
  width: 23%;
  height: auto;
}

.product__content__column--2 .prds {
  height: 200px;
}