/*-------------------------------- 
    GLOBAL RESETS
---------------------------------*/

body {
    margin: 0;
    top: 0;
    left: 0;
    font-family: HelveticaNeue Condensed;
}

/*--------------------------------- */
.top__navbar {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    background-color: #282929;
    color: white;
}

.top__navbar .top__navlist {
    margin: 0;
    display: flex;
    list-style: none;
    height: 30px;
}

.top__navbar .top__navlist--item {
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: HelveticaNeue Condensed;
    font-size: 13px;
    font-weight: lighter;
}

.top__navlist--item .cart__image{
    width: 30px;
    height: 30px;
    position: relative;
    top: -5px;
}