.container {
    height: auto;
    width: 800px;
    padding-top: 3%;
    margin: auto;
}

.container > h2 {
    margin-bottom: 40px;
}

.form__content {
    height: 400px;
}

.form__content .form__controls {
    display: flex;
    flex-wrap: wrap;
}

.form__controls .form__control {
    width: 370px;
    padding: 20px 20px 50px 0px;
}

.form__control > input {
    border: none;
    border-bottom: 1px solid rgb(207, 206, 206);
    width: 100%;
    outline: none;
}

label {
    font-size: 15px;
    position: relative;
    color: #878a8a;
    font-weight: 400;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
}


.form__content button {
    width: 95%;
    padding: 18px;
    font-size: 14px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: #fff;
    outline: none;
    background-color: #282929;
    font-family: HelveticaNeue Condensed;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
}

.form__content button:nth-child(4) {
    background-color: #464a85;
    color: rgb(255, 255, 255);
}

  