doctype html
html
  head
    title #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block links
      link(rel="stylesheet" href="/stylesheet/svg.css")
      link(rel="stylesheet" href="/stylesheet/index.css")
      link(rel="stylesheet" href="/stylesheet/layout/layout.css")
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")

    body
      block header
        !=h.dump(items)
        header(class="layout__header")
          nav(class="layout__navbar--top")
          nav(class="layout__navbar--sub")
            ul(class="layout__navlist--sub")  
              li.layout__navlist__item--sub
                div.layout__nav__search_block
                  i.fa.fa-search &nbsp;&nbsp;
                  input.layout__nav__search_input(type="text" placeholder="Search Products, Brands and Categories")
                button.layout__nav__btn.btn--search search
              if !user
                li.layout__navlist__item--sub
                  a(href="/user/login")
                    if false
                      !=h.icon('user')
                    span login
              else 
                li.layout__navlist__item--sub: a(href="/user/logout"): span logout
              li.layout__navlist__item--sub: a: span help
              li.layout__navlist__item--sub: a
                if false
                  img.layout__nav__cart_image(src="https://img.icons8.com/nolan/64/000000/shopping-cart.png")
                span cart
                span(id="cart-items-counter")
        
      block messages
      if locals.flashes
        .inner--flashes
          .flash-messages
            - const categories = Object.keys(locals.flashes)
              each category in categories
                each message in flashes[category]
                  p!=message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
  

      .content
        block content


      
      
      