extends layout

block links
  link(rel="stylesheet" href="/stylesheet/index.css")
  link(rel="stylesheet" href="/stylesheet/layout/layout.css")
  link(rel="stylesheet" href="/stylesheet/login/login.css")

include mixins/_loginForm

block content
  +loginForm()