mixin homeSubRowBody(items=[])
  div(class="home__row_body--sub")
    each item in items
      div(class="home__row_item--sub")
        a(href=`/product/${item._id}`)
          div(class="home__item__image_container")
            img(class="home__item_image" src=`/uploads/${item.product_image[0]}`)
        div(class="home__image_description")
    
    