mixin loginForm()
  div(class="login__form__container")
      h2 Log in
      .login__form__block
        form(method="post" action="/user/login")
          div(class="login__form__controls")
            div(class="login__form__control")
              input(type="email" name="email" placeholder="E-mail")
            div(class="login__form__control")
              input(type="password" name="password" placeholder="Password")
          button(class="login__form__button" type="submit") Log In