mixin sideBar()
  .dashboard__sidebar
    h3.dashboard__title Admin Panel
    ul.dashboard__list
      li(class="dashboard__listitem"): a(href="/admin/add") Add Product
      li(class="dashboard__listitem"): a(href="#") All Product
      li(class="dashboard__listitem"): a(href="#") All Product Category