mixin sideBar()
  .dashboard-sidebar
    ul.dashboard-nav
      li(class="dashboard-nav-item"): a(href="/admin/add") Add Product
      li(class="dashboard-nav-item"): a(href="#") All Product
      li(class="dashboard-nav-item"): a(href="#") All Product Category