/*-----------------------------
    LOGIN.PUG
------------------------------*/

.login__form__container {
  width: 40rem;
  padding-top: 3%;
  margin: auto;
  height: auto;
}

.login__form__block {
  height: 40rem;
}

.login__form__controls
 {
  display: flex;
  flex-wrap: wrap;
}

.login__form__control {
  width: 37rem;
  padding: 1rem 0px 1rem 0px;
  margin-right: 1.5rem;
}

.login__form__control > input {
  border: none;
  border-bottom: 1px solid rgb(226, 224, 224);
  width: 100%;
  outline: none; 
  height: 4rem;
  padding-left: 2rem;
}

.login__form__control > label {
  font-size: 1.5rem;
  position: relative;
  color: #878a8a;
  font-weight: 400;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
}

.login__form__button {
  width: 37.5rem;
  margin-top: 1rem;
  background-color: rgb(27, 27, 27);
  padding: 1.8rem;
  font-size: 1.6rem;
  box-shadow: 0 .2rem .4rem 0 rgba(0,0,0,0.2);
  color: #fff;
  outline: none;
  font-family: HelveticaNeue Condensed;
  border-radius: .5rem;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
}